// @type
.productWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    // @media (max-width: 680px) {
    //     width: 50%;
    //     margin: 0 auto;
    // }

    @media (max-width: 380px) {
        width: 290px;
        margin: 0 auto;
    }
}

.product {
    box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 30px 20px;
    width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 680px) {
        padding: 20px 15px;
    }

    .productImg {
        max-height: 200px;

        @media (max-width: 680px) {
            max-width: 100%;
        }
    }

    .textContent {
        flex: 1 auto;
        margin-bottom: 15px;
        font-family: 'Inter';
        font-style: normal;

        p {
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: #111111;
        }

        span {
            font-weight: 300;
            font-size: 14px;
            color: #3F4E65;
        }

        p:nth-child(1) {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #3F4E65;
            display: flex;
            align-items: center;

            img {
                margin-right: 8px;
            }
        }

        a > .title {
            font-size: 16px;
            font-weight: 500;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        
        .title {
            font-size: 16px;
            font-weight: 500;
            margin-top: 10px;
            margin-bottom: 20px;
        }

    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        font-family: 'Inter';
        font-style: normal;
        margin-top: 15px;

        p {
            font-weight: 800;
            font-size: 16px;
            line-height: 21px;
            color: #111111;
        }

        button {
            width: 153px;
            border-radius: 80px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
            cursor: pointer;

            font-weight: 700;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.15em;
            color: #FFFFFF;
            text-transform: uppercase;

            &.add {
                background-color: #FFC85E;
            }

            &.alreadyAdd {
                background-color: rgb(68, 255, 115);
            }
        }
    }


}